/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');*/
/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color),29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Button Dark/Light ==========*/

.button__toggle{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 2px;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}



.button__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}
.button__toggle:hover{
  color: var(--first-color-alt);
}




/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* 
==================== LAYOUT ====================
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.Component__title{
  font-size: var(--font-medium);
  color: var(--first-color);
  margin: auto;
  margin-bottom: 2rem;
}

.Component__form{
  display: grid;
  row-gap: 1rem;
}


/* ========= Home ========= */
.Home{
  /* display: grid; */
  /* align-items: center; */
  /* justify-content: center; */
}

.Home__title{
  color: var(--first-color);
  font-size: var(--h2-font-size);
  margin-left: 3rem;
  margin-top: 1rem;
}

.Home__subtitle{
  color: var(--first-color-alt);
  margin-left: 3rem;
}
.Home__container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* place-self: center; */
  place-items: center;
  padding: 2px;
  margin-top: 9rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.Home__mid{
  width: 0px;
  height: 250px;
  background-color: var(--body-color);
  border: dashed;
  border-width: 2px;
  border-color: var(--first-color-alt);
}

.left__title,
.right__title{
  font-size: var(--font-medium);
  color: var(--first-color);
  margin: auto;
  margin-bottom: 2rem;
}

.Home__left{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
}

.left__data{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .35rem 1rem .25rem;
}

.left__label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.left__input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

.left__btn,
.right__btn{
  display: inline-block;
  padding: 0px;
  background-color: var(--first-color);
  color: #fff;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  font-size: 1.1rem;
  cursor: pointer;
  width: 200px;
  justify-self: center;
}

.left__btn:hover,
.right__btn:hover{
  color: var(--first-color-alt);
}

.Home__right{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
}



.grid{
  display: grid;
  grid-template-columns: 6fr 1fr;
  column-gap: 7px;
  width: 100%;
  /* margin: auto; */
  padding: 10px;
}

.video-c {
  width: 100%;
  position: relative;
  /* padding: 5px; */
}

.video {
  width: 100%;
}

.progress-bar-div {
  flex: 1;
}

#progress-bar {
  width: 100%;
}



.video-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
}

.room{
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.room__label{
  color: var(--first-color);
  font-size: var(--font-semi-bold);
}

h3{
  color: var(--first-color-alt);
}